
@{
    ViewBag.Title = "Factura";
}

<!--
<link rel="stylesheet" href="~/css/factura.css" />-->

<div class="col-xs-6">
    <h1><img alt="" width="250" height="250" src="~/css/logo.jpeg" /> </h1>
</div>
<div class="col-xs-6 text-right">
    <h1>FACTURA</h1>
    <h1><small>Factura #001</small></h1>
</div>
<div id="app" class="col-11">
    <hr />
<pre>
</pre>
    <div class="row">
        <div class="col-xs-5">
            <div class="well well-sm">
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                            CONSUMIDOR FINAL
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                            RUC/CEDULA
                        </label>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <div>

        <div class="">


            <form class="form-horizontal" method="post">
                <fieldset>
                    <div>
                        <div>
                            <input placeholder="Cedula" />
                        </div>

                        <div>
                            <button type="submit" class="btn btn-primary btn-lg">Buscar cliente</button>
                        </div>



                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="row mb-3">
                <div class="col-8">
                    <h1><small>DATOS CLIENTE</small></h1>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <input placeholder="Cedula/Ruc" disabled />

                </div>
                <div class="col">
                    <input placeholder="Nombre" disabled />

                </div>
                <div class="col">
                    <input placeholder="Apellido" disabled />
                </div>
                <div class="col">
                    <input placeholder="Direccion" disabled />
                </div>
                <div class="col-3">
                    <input placeholder="Telefono" disabled />
                </div>
            </div>
        </div>
        <hr />


        <div class="container">
            <div class="row mb-3">
                <div class="col-8">
                    <h1><small>PRODUCTOS</small></h1>
                </div>
            </div>

            <div class="">
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#EjemploModal">AGREGAR PRODUCTOS</button>
            </div>
            <div>
                <div class="modal fade" id="EjemploModal" tabindex="-1" role="dialog" aria-labelledby="EjemploModalLabel" aria-hidden="true">






                    <div class="modal-dialog modal-lg" >
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="EjemploModalLabel">PRODUCTOS</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="">


                                    <form class="form-horizontal" method="post">
                                        <fieldset>
                                            <div>
                                                <div>
                                                    <input placeholder="Producto" />
                                                </div>

                                                <div>
                                                    <button type="submit" class="btn btn-primary btn-lg">Buscar Producto</button>
                                                </div>



                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                                <hr />
                                <div class="row my-5">
                                    <table class="table table-borderless factura">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Precio</th>
                                                <th>cantidad</th>
                                                <th>Agregar</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <input placeholder="Nombre" />
                                                </td>
                                                <td> <input placeholder="Precio" /></td>
                                                <td>
                                                    <input placeholder="Cantidad" />
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-secondary">AGREGAR</button>
                                                </td>

                                            </tr>

                                        </tbody>

                                    </table>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-primary">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>

        <hr />

        <div class="row my-5">
            <table class="table table-borderless factura">
                <thead>
                    <tr>
                        <th>Cant.</th>
                        <th>Descripcion</th>
                        <th>Precio Unitario</th>
                        <th>Subtotal</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input placeholder="CANTIDAD" />
                        </td>
                        <td> <input placeholder="DESCRIPCION" /></td>
                        <td>
                            <input placeholder="PRECIO" />
                        </td>
                        <td>
                            <input placeholder="SUBTOTAL" />
                        </td>

                    </tr>

                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Total</th>
                        <th>1.00$$</th>
                        

                    </tr>
                </tfoot>
            </table>
        </div>

    </div>


