@{
    ViewBag.Title = "Gypsum";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title></title>

    <title>FACTURACION INSTALL GYPSUMM</title>
</head>
<body>
 

    <div class="jumbotron">
        <h1>
            FACTURACION GYPSUM
        </h1>
    </div>

</body>




